Repository LiadKh/FDP: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jsonlint, imagemin-lint-staged

add metadata
  package.json
Due: prettier --write, jsonlint

production build and server port in development
  .gitignore
  package.json
  server/app.js
  server/bin/www
Due: prettier --write, eslint --fix, jsonlint

uncomment db connection
  server/app.js
Due: prettier --write, eslint --fix

change client proxy port
  client/package.json
Due: prettier --write, jsonlint

change flow and add file extension
  .eslintrc
  .eslintrc.json
  .flowconfig
Due: prettier --write, jsonlint

add 3 schema
  package-lock.json
  package.json
  server/mongo/models/company.model.js
  server/mongo/models/project.model.js
  server/mongo/models/user.model.js
Due: prettier --write, eslint --fix, jsonlint

create schemes and models
  database/mongodb/connection.js
  package-lock.json
  package.json
  server/app.js
  server/mongo/models/company.model.js
  server/mongo/models/project.model.js
  server/mongo/models/user.model.js
  server/routes/admin.routes.js
  server/routes/allRoutes.js
Due: prettier --write, eslint --fix, jsonlint

change models name to be in file
  server/mongo/models/company.model.js
  server/mongo/models/models.names.js
  server/mongo/models/project.model.js
  server/mongo/models/user.model.js
  server/routes/admin.routes.js
Due: prettier --write, eslint --fix

eslint fix
  .eslintrc.json
  .prettierrc.json
  database/mongodb/connection.js
  package-lock.json
  package.json
  server/app.js
  server/mongo/models/company.model.js
  server/mongo/models/models.names.js
  server/mongo/models/project.model.js
  server/mongo/models/user.model.js
  server/routes/admin.routes.js
  server/routes/allRoutes.js
  server/routes/index.js
  server/routes/users.js
Due: prettier --write, eslint --fix, jsonlint

change bad code
  server/app.js
Due: prettier --write, eslint --fix

logger
  database/mongodb/connection.js
  package.json
  server/app.js
Due: prettier --write, eslint --fix, jsonlint

create admin panel
  database/mongodb/connection.js
  server/app.js
  server/mongo/models/company.model.js
  server/mongo/models/project.model.js
  server/mongo/models/user.model.js
  server/routes/admin.routes.js
  server/utils/admin.js
  server/utils/project.js
Due: prettier --write, eslint --fix

add react configuration
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/App.test.jsx
  client/src/index.js
  client/src/index.jsx
  client/src/serviceWorker.js
  package.json
Due: prettier --write, eslint --fix, jsonlint

change scripts
  package.json
Due: prettier --write, jsonlint

add storybook
  client/.storybook/addons.js
  client/.storybook/config.js
  client/package-lock.json
  client/package.json
  client/stories/0-Welcome.stories.js
  client/stories/1-Button.stories.js
Due: prettier --write, eslint --fix, jsonlint

add vs code local settings
  .vscode/settings.json
Due: prettier --write, jsonlint

add bootstrap by npm
  client/package-lock.json
  client/package.json
  client/src/index.jsx
Due: prettier --write, eslint --fix, jsonlint

add nvmrc file
  .nvmrc
Due: none

change files names
  server/app.js
  server/routes/admin.js
  server/routes/allRoutes.js
  server/routes/index.js
Due: prettier --write, eslint --fix

change scripts and entry file
  package.json
  server/app.js
Due: prettier --write, eslint --fix, jsonlint

change files name and path
  server/app.js
  server/mongo/models/company.js
  server/mongo/models/project.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/routes/manager.js
  server/utils/admin.js
Due: prettier --write, eslint --fix

add error handling
  config/environment/example.env
  package-lock.json
  package.json
  server/app.js
  server/lib/error.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/routes/auth.js
Due: prettier --write, eslint --fix, jsonlint

fix init data to development
  client/package-lock.json
  package-lock.json
  server/lib/error.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/utils/admin.js
  server/utils/project.js
Due: prettier --write, eslint --fix, jsonlint

add pagination to old requests
  package-lock.json
  package.json
  server/app.js
  server/mongo/config.js
  server/mongo/connection.js
  server/mongo/models/company.js
  server/mongo/models/project.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/routes/company.js
  server/routes/index.js
Due: prettier --write, eslint --fix, jsonlint

add auth routers and middleware
  server/middleware/auth.js
  server/routes/auth.js
  server/routes/index.js
  server/routes/user.js
  server/routes/users.js
Due: prettier --write, eslint --fix

add multi features
  package-lock.json
  package.json
  server/middleware/auth.js
  server/mongo/models/company.js
  server/mongo/models/project.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/routes/auth.js
  server/routes/company.js
  server/routes/index.js
  server/routes/manager.js
  server/routes/user.js
  server/utils/admin.js
  server/utils/project.js
Due: prettier --write, eslint --fix, jsonlint

add option to update current user profile
  server/middleware/auth.js
  server/routes/auth.js
  server/routes/user.js
Due: prettier --write, eslint --fix

manager can delete other manager or technical editor in the company
  server/mongo/models/company.js
  server/mongo/models/user.js
  server/routes/manager.js
Due: prettier --write, eslint --fix

admin can delete company with all projects and users
  server/mongo/models/company.js
  server/routes/admin.js
Due: prettier --write, eslint --fix

fix install client dependencies from root
  package.json
Due: prettier --write, jsonlint

postman
  postman.json
Due: prettier --write, jsonlint

change postman requests location
  server/api/postman.json
Due: prettier --write, jsonlint

change the client run dev for windows
  package.json
Due: prettier --write, jsonlint

ignore intellij folder
  .gitignore
  package.json
Due: prettier --write, jsonlint

add redux
  client/package-lock.json
  client/package.json
Due: prettier --write, jsonlint

remove pagination package
  mocks/admin.js
  mocks/project.js
  package-lock.json
  package.json
  server/app.js
  server/mongo/models/company.js
  server/mongo/models/project.js
  server/mongo/models/user.js
  server/routes/admin.js
  server/utils/project.js
Due: prettier --write, eslint --fix, jsonlint

change error and assign technical editor
  server/app.js
  server/lib/error.js
  server/mongo/config.js
  server/mongo/models/project.js
  server/routes/admin.js
  server/routes/manager.js
  server/routes/user.js
Due: prettier --write, eslint --fix

get all projects users
  server/routes/manager.js
Due: prettier --write, eslint --fix

get project
  server/routes/company.js
  server/routes/manager.js
Due: prettier --write, eslint --fix

search project
  server/api/postman.json
  server/routes/company.js
Due: prettier --write, eslint --fix, jsonlint

Path conditions:
  prettier --write: ((any of: *.{md,html}) or (any of: *.{js,jsx})) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx}
  jsonlint: any of: *.json
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
