Repository LiadKh/FDP: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jsonlint -i, imagemin-lint-staged

change client folders and logo
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/favicon/android-chrome-192x192.png
  client/public/favicon/android-chrome-512x512.png
  client/public/favicon/apple-touch-icon.png
  client/public/favicon/favicon-16x16.png
  client/public/favicon/favicon-32x32.png
  client/public/favicon/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/App.jsx
  client/src/app/App.css
  client/src/app/App.jsx
  client/src/app/App.test.jsx
  client/src/assets/logo.svg
  client/src/index.jsx
Due: prettier --write, eslint --fix, imagemin-lint-staged

start client template
  client/package-lock.json
  client/package.json
  client/src/App/App.jsx
  client/src/App/App.test.jsx
  client/src/app/App.css
  client/src/app/App.jsx
  client/src/assets/images/bg404.jpg
  client/src/assets/logo.svg
  client/src/components/Admin/Admin.jsx
  client/src/components/Admin/index.js
  client/src/components/Footer/Footer.jsx
  client/src/components/Footer/index.js
  client/src/components/Header/Header.jsx
  client/src/components/Header/index.js
  client/src/components/Home/Home.jsx
  client/src/components/Home/index.js
  client/src/components/Login/Login.jsx
  client/src/components/Login/index.js
  client/src/components/Profile/Profile.jsx
  client/src/components/Profile/index.js
  client/src/index.css
  client/src/index.jsx
  client/src/pages/NotFound/NotFound.jsx
  client/src/pages/NotFound/style.css
Due: prettier --write, eslint --fix, imagemin-lint-staged

add login page
  client/src/components/Login/Login.jsx
  client/src/components/Login/style.css
  client/src/index.css
Due: prettier --write, eslint --fix

change api path
  server/routes/api/admin.js
  server/routes/api/auth.js
  server/routes/api/company.js
  server/routes/api/manager.js
  server/routes/api/user.js
  server/routes/index.js
Due: prettier --write, eslint --fix

add login
  client/package-lock.json
  client/package.json
  client/src/App/App.jsx
  client/src/components/Login/Login.jsx
  client/src/components/Login/index.js
  client/src/components/Login/style.css
  client/src/index.css
  client/src/redux/actions/auth.js
  client/src/redux/actions/error.js
  client/src/redux/reducers/auth.js
  client/src/redux/reducers/error.js
  client/src/redux/reducers/index.js
  client/src/redux/store.js
  client/src/redux/types/auth.js
  client/src/redux/types/error.js
  package.json
  server/app.js
  server/routes/auth.js
Due: prettier --write, eslint --fix

add private and public routers
  client/package-lock.json
  client/package.json
  client/src/App/App.jsx
  client/src/components/Auth/Auth.jsx
  client/src/components/Home/Home.jsx
  client/src/components/Login/Login.jsx
  client/src/components/Profile/Profile.jsx
  client/src/pages/Loading/Loading.jsx
  client/src/pages/NotFound/NotFound.jsx
  client/src/redux/actions/auth.js
  client/src/utils/auth.js
  client/src/utils/localStorage.js
  client/src/utils/routers.jsx
Due: prettier --write, eslint --fix

[ImgBot] Optimize images
  client/public/favicon/android-chrome-192x192.png
  client/public/favicon/android-chrome-512x512.png
  client/public/favicon/apple-touch-icon.png
  client/src/assets/images/bg404.jpg
Due: imagemin-lint-staged

fix private and public routers
  client/src/App/App.jsx
  client/src/components/Auth/Auth.jsx
  client/src/components/Auth/Login.jsx
  client/src/components/Auth/Logout.jsx
  client/src/components/Auth/index.js
  client/src/components/Auth/style.css
  client/src/pages/Loading/Loading.jsx
  client/src/redux/reducers/auth.js
  client/src/redux/types/auth.js
  client/src/utils/auth.js
  client/src/utils/routers.jsx
Due: prettier --write, eslint --fix

add dashboard template component
  client/src/App/App.jsx
  client/src/components/Auth/Login.jsx
  client/src/components/Dashboard/Dashboard.jsx
  client/src/components/Dashboard/index.js
Due: prettier --write, eslint --fix

change files structure
  client/src/App/App.jsx
  client/src/components/Admin/Admin.jsx
  client/src/components/Admin/index.js
  client/src/components/Auth/index.js
  client/src/components/Loading/Loading.jsx
  client/src/utils/routers.jsx
  client/src/views/Auth/Login.jsx
  client/src/views/Auth/Logout.jsx
  client/src/views/Auth/index.js
  client/src/views/Auth/style.css
  client/src/views/Home/Home.jsx
  client/src/views/Home/index.js
  client/src/views/NotFound/Errors.jsx
  client/src/views/NotFound/style.css
  client/src/views/Profile/Profile.jsx
  client/src/views/Profile/index.js
Due: prettier --write, eslint --fix

add login delay and limit the homepage
  client/src/App/App.jsx
  client/src/components/Auth/Auth.jsx
Due: prettier --write, eslint --fix

yarn
  client/yarn.lock
  yarn.lock
Due: none

change husky location in package.json
  package.json
Due: none

remove lock files
  client/package-lock.json
  client/yarn.lock
  package-lock.json
  yarn.lock
Due: none

ignore lock files
  .gitignore
Due: none

change package manager
  database/mongodb/scripts/linux/startup.sh
  database/mongodb/scripts/windows/startup.bat
  package.json
Due: none

change scripts folder
  package.json
  scripts/mongodb/linux/startup.sh
  scripts/mongodb/windows/startup.bat
Due: none

[ImgBot] Optimize images
  client/src/logo.svg
Due: imagemin-lint-staged

remove files and start new empty project
  .eslintrc.json
  .lintstagedrc.json
  client/package.json
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/app/App.jsx
  client/src/index.css
  client/src/index.js
  client/src/index.jsx
  client/src/logo.svg
  package.json
Due: prettier --write, eslint --fix, imagemin-lint-staged

change main HTML
  .eslintrc.json
  .lintstagedrc.json
  client/public/index.html
  package.json
Due: prettier --write

add redux store
  .eslintrc.json
  .lintstagedrc.json
  client/package.json
  client/src/app/App.jsx
  client/src/redux/reducers/index.js
  client/src/redux/store.js
  mocks/admin.js
  mocks/project.js
  package.json
  server/app.js
  server/lib/error.js
  server/middleware/auth.js
  server/mongo/connection.js
  server/mongo/models/company.js
  server/mongo/models/models.names.js
  server/mongo/models/project.js
  server/mongo/models/user.js
  server/routes/api/admin.js
  server/routes/api/auth.js
  server/routes/api/company.js
  server/routes/api/manager.js
  server/routes/api/user.js
  server/routes/index.js
Due: prettier --write, eslint --fix

save and get data from local storage
  client/src/utils/localStorage.js
Due: prettier --write, eslint --fix

change get from local storage function
  client/src/utils/localStorage.js
Due: prettier --write, eslint --fix

login page
  client/package.json
  client/src/app/App.jsx
  client/src/components/app/App.jsx
  client/src/context/AuthContext.jsx
  client/src/context/LayoutContext.jsx
  client/src/index.css
  client/src/index.jsx
  client/src/pages/login/Login.jsx
  client/src/pages/login/package.json
  client/src/pages/login/styles.js
  client/src/themes/default.js
  client/src/themes/index.js
  client/src/utils/routes.jsx
Due: prettier --write, eslint --fix

login page submit
  client/package.json
  client/src/context/AuthContext.jsx
  client/src/index.jsx
  client/src/pages/login/Login.jsx
  client/src/pages/login/styles.js
  client/src/themes/default.js
Due: prettier --write, eslint --fix

eslint
  .editorconfig
  .eslintrc.json
  .vscode/settings.json
  client/src/context/AuthContext.jsx
  client/src/utils/routes.jsx
  package.json
  server/app.js
  server/mongo/models/company.js
  server/mongo/models/user.js
Due: prettier --write, eslint --fix

eslint and prettier
  client/package.json
  client/src/api/auth.js
  client/src/components/app/App.jsx
  client/src/context/AuthContext.jsx
  client/src/pages/login/Login.jsx
  client/src/pages/login/styles.js
  client/src/redux/reducers/index.js
  client/src/redux/store.js
  client/src/serviceWorker.js
  client/src/themes/default.js
  client/src/themes/index.js
  client/src/utils/localStorage.js
  client/src/utils/routers/routes.jsx
  client/src/utils/storage/localStorage.js
Due: prettier --write, eslint --fix

login
  client/package.json
  client/src/api/auth.js
  client/src/context/AuthContext.jsx
  client/src/pages/login/Login.jsx
  client/src/pages/login/styles.js
  client/src/utils/storage/localStorage.js
Due: prettier --write, eslint --fix

Login page with Logout page
  .eslintrc.json
  .prettierrc.json
  client/package.json
  client/src/api/auth.js
  client/src/components/Loading/Loading.jsx
  client/src/components/app/App.jsx
  client/src/context/AuthContext.jsx
  client/src/pages/login/Login.jsx
  client/src/pages/login/package.json
  client/src/pages/logout/Logout.jsx
  client/src/pages/logout/package.json
  client/src/utils/routers/routes.jsx
  client/src/utils/storage/localStorage.js
  package.json
  server/mongo/models/company.js
  server/mongo/models/project.js
  server/mongo/models/user.js
Due: prettier --write, eslint --fix

done requests for auth user
  client/package.json
  client/src/api/auth.js
  client/src/components/Loading/Loading.jsx
  client/src/index.jsx
  client/src/pages/logout/Logout.jsx
  client/src/redux/actions/user.js
  client/src/redux/reducers/index.js
  client/src/redux/reducers/user.js
  client/src/redux/store.js
  client/src/redux/types/user.js
  client/src/utils/classes/user.js
  client/src/utils/routers/routes.jsx
  package.json
Due: prettier --write, eslint --fix

add error page
  .eslintrc.json
  client/package.json
  client/src/components/app/App.jsx
  client/src/index.jsx
  client/src/pages/error/Error.jsx
  client/src/pages/error/package.json
  client/src/pages/error/styles.js
  client/src/pages/logout/Logout.jsx
  package.json
Due: prettier --write, eslint --fix

diable login form on submit
  client/package.json
  client/src/pages/login/Login.jsx
Due: prettier --write, eslint --fix

fix husky and ignore intellij files
  .gitignore
  package.json
Due: none

Change favicon icon and add logo image
  .lintstagedrc.json
  client/public/favicon.ico
  client/src/assets/images/logo.jpeg
Due: imagemin-lint-staged

set favicon image
  client/public/favicon.ico
  client/public/favicon/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/assets/images/logo.jpeg
  client/src/assets/images/logo.png
Due: prettier --write, imagemin-lint-staged

add logo to login page
  client/src/pages/login/Login.jsx
Due: prettier --write, eslint --fix

logout work
  client/src/api/auth.js
  client/src/components/Header/Header.jsx
  client/src/components/Header/package.json
  client/src/components/Header/styles.js
  client/src/components/Layout/Layout.jsx
  client/src/components/Layout/package.json
  client/src/components/Layout/styles.js
  client/src/components/Sidebar/Sidebar.js
  client/src/components/Sidebar/SidebarView.js
  client/src/components/Sidebar/components/Dot.js
  client/src/components/Sidebar/components/SidebarLink/SidebarLink.js
  client/src/components/Sidebar/components/SidebarLink/styles.js
  client/src/components/Sidebar/package.json
  client/src/components/Sidebar/styles.js
  client/src/components/Wrappers/Wrappers.jsx
  client/src/components/Wrappers/package.json
  client/src/components/app/App.jsx
  client/src/context/AuthContext.jsx
  client/src/pages/dashboard/Dashboard.js
  client/src/pages/dashboard/mock.js
  client/src/pages/dashboard/package.json
  client/src/pages/dashboard/styles.js
  client/src/redux/actions/user.js
  client/src/utils/classes/user.js
  client/src/utils/routers/routes.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{md,html}) or (any of: *.{js,jsx})) or (any of: *.{rc, json})
  eslint --fix: any of: *.{js,jsx}
  jsonlint -i: any of: *.{rc, json}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
